@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 40.0000 60.0000% 98.0392%;
  --foreground: 20.8696 18.4000% 24.5098%;
  --card: 36.0000 41.6667% 95.2941%;
  --card-foreground: 20.8696 18.4000% 24.5098%;
  --popover: 36.0000 41.6667% 95.2941%;
  --popover-foreground: 20.8696 18.4000% 24.5098%;
  --primary: 25.9649 90.4762% 37.0588%;
  --primary-foreground: 0 0% 100%;
  --secondary: 34.2857 60.8696% 72.9412%;
  --secondary-foreground: 33.3333 5.4545% 32.3529%;
  --muted: 39.1304 45.0980% 90.0000%;
  --muted-foreground: 25.0000 5.2632% 44.7059%;
  --accent: 34.2857 68.2927% 83.9216%;
  --accent-foreground: 33.3333 5.4545% 32.3529%;
  --destructive: 0 70% 35.2941%;
  --destructive-foreground: 0 0% 100%;
  --border: 43.5000 42.5532% 81.5686%;
  --input: 43.5000 42.5532% 81.5686%;
  --ring: 25.9649 90.4762% 37.0588%;
  --chart-1: 25.9649 90.4762% 37.0588%;
  --chart-2: 25.0000 5.2632% 44.7059%;
  --chart-3: 35.4545 91.6667% 32.9412%;
  --chart-4: 25.0000 5.2632% 44.7059%;
  --chart-5: 40.6061 96.1165% 40.3922%;
  --sidebar: 39.1304 45.0980% 90.0000%;
  --sidebar-foreground: 20.8696 18.4000% 24.5098%;
  --sidebar-primary: 25.9649 90.4762% 37.0588%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 35.4545 91.6667% 32.9412%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 43.5000 42.5532% 81.5686%;
  --sidebar-ring: 25.9649 90.4762% 37.0588%;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 24 9.8039% 10%;
  --foreground: 60 4.7619% 95.8824%;
  --card: 12.0000 6.4935% 15.0980%;
  --card-foreground: 60 4.7619% 95.8824%;
  --popover: 12.0000 6.4935% 15.0980%;
  --popover-foreground: 60 4.7619% 95.8824%;
  --primary: 24.5815 94.9791% 53.1373%;
  --primary-foreground: 0 0% 100%;
  --secondary: 33.3333 5.4545% 32.3529%;
  --secondary-foreground: 20 5.8824% 90%;
  --muted: 12.0000 6.4935% 15.0980%;
  --muted-foreground: 24.0000 5.4348% 63.9216%;
  --accent: 198.4615 46.4286% 21.9608%;
  --accent-foreground: 20 5.8824% 90%;
  --destructive: 0 72.2222% 50.5882%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 6.2500% 25.0980%;
  --input: 30 6.2500% 25.0980%;
  --ring: 24.5815 94.9791% 53.1373%;
  --chart-1: 24.5815 94.9791% 53.1373%;
  --chart-2: 198.6301 88.6640% 48.4314%;
  --chart-3: 45.3982 93.3884% 47.4510%;
  --chart-4: 24.0000 5.4348% 63.9216%;
  --chart-5: 25.0000 5.2632% 44.7059%;
  --sidebar: 12.0000 6.4935% 15.0980%;
  --sidebar-foreground: 60 4.7619% 95.8824%;
  --sidebar-primary: 24.5815 94.9791% 53.1373%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 198.6301 88.6640% 48.4314%;
  --sidebar-accent-foreground: 212.3077 73.0337% 17.4510%;
  --sidebar-border: 30 6.2500% 25.0980%;
  --sidebar-ring: 24.5815 94.9791% 53.1373%;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
}
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
